<!-- <script src="{{ site.baseurl }}games/{{page.unity_dir}}/TemplateData/UnityProgress.js"></script>   -->
<script src="{{ site.url }}/games/{{page.unity_dir}}Build/Website.loader.js"></script>
<!-- <script>
  var gameInstance = UnityLoader.instantiate("gameContainer", "{{ site.baseurl}}games/{{page.unity_dir}}/Build/builds.json",{onProgress: UnityProgress});  
</script> -->
<div id="gameContainer">
    <canvas id="unity-canvas" data-pixel-art="true"></canvas>
    <script src="{{ site.url }}games/{{page.unity_dir}}Build/Website.loader.js"></script>
    <script>
        var canvas = document.querySelector("#unity-canvas");
        var config = {
            dataUrl: "{{ site.url }}/games/{{page.unity_dir}}Build/Website.data.gz",
            frameworkUrl: "{{ site.url }}/games/{{page.unity_dir}}Build/Website.framework.js.gz",
            codeUrl: "{{ site.url }}/games/{{page.unity_dir}}Build/Website.wasm.gz",
            streamingAssetsUrl: "StreamingAssets",
            companyName: "Multipixels",
            productName: "Crop Rush",
            productVersion: "1.3",
        };
        var scaleToFit;
        try {
            scaleToFit = !!JSON.parse("");
        } catch (e) {
            scaleToFit = true;
        }
        function progressHandler(progress) {
            var percent = progress * 100 + '%';
            canvas.style.background = 'linear-gradient(to right, white, white ' + percent + ', transparent ' + percent + ', transparent) no-repeat center';
            canvas.style.backgroundSize = '100% 1rem';
        }
        function onResize() {
            var container = canvas.parentElement;
            var w;
            var h;

            if (scaleToFit) {
                w = window.innerWidth;
                h = window.innerHeight;

                var r = 540 / 960;

                if (w * r > window.innerHeight) {
                    w = Math.min(w, Math.ceil(h / r));
                }
                h = Math.floor(w * r);
            } else {
                w = 960;
                h = 540;
            }

            container.style.width = canvas.style.width = w + "px";
            container.style.height = canvas.style.height = h + "px";
            container.style.top = Math.floor((window.innerHeight - h) / 2) + "px";
            container.style.left = Math.floor((window.innerWidth - w) / 2) + "px";
        }
        createUnityInstance(canvas, config, progressHandler).then(function (instance) {
            canvas = instance.Module.canvas;
            onResize();
        });
        window.addEventListener('resize', onResize);
        onResize();

        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
            // Mobile device style: fill the whole browser client area with the game canvas:
            const meta = document.createElement('meta');
            meta.name = 'viewport';
            meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
            document.getElementsByTagName('head')[0].appendChild(meta);
        }
    </script>
</div>