
.lotus-input {
    height: 400px;
    resize: none;
    background-color: #242424;
    color: rgba(255,255,255,.8666666667);
    font-family: "Lucida Console", Monaco, monospace;
    overflow: auto;
}

.lotus-input:focus {
    background-color: #242424;
}
.lotus-output {
    white-space: pre-line;
    word-wrap: break-word;
    height: 100%;
    border-radius: 2%;
    padding: 5%;
    overflow: auto;
}
.lotus-label {
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 0px 5px;
    font-size: 12px;
    z-index: -1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}