---
layout: default
format: project-screenshots
---
{% if page.image.title %}
<div class="row t60">
	<div class="small-12 columns">
		{% if page.game %}
			<script>
				function startGame() { 
					{% if page.game_height %}
					document.getElementById("gameContainer").style.height = "{{page.game_height}}px";
					{% endif %} 

					{% if page.game_width %}
					document.getElementById("gameContainer").style.width = "{{page.game_width}}px";
					{% endif %} 

					document.getElementById("gameButton").remove(); 
					document.getElementById("game").remove(); 
				}
			</script>

			<div class="gameContainer" id="gameContainer">	
				<img class="gameThumbImage" id="game" src="{{ site.urlimg }}{{ page.image.title }}" alt="{{ page.title | escape_once }}">
				<a id="gameButton" class="button large radius gameButton" href="{{site.url}}{{page.game}}" target="game" onclick="startGame()">Play Game</a>
				<iframe class="gameiframe" name="game" src="about:blank"></iframe>
			</div>
		
		{% elsif page.video %}
			<iframe width="100%" height="540" src="{{ page.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		{% elsif page.image %}
			<img id="game" src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
			{% if page.image.caption_url and page.image.caption %}
			<p class="text-right caption">
				<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
			</p>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endif %}

<div class="row t30 content">
    <div class="medium-8 columns">
		<header>
			{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
			<h1>{{ page.title }}</h1>
		</header>

		{% if page.teaser %}
		<p class="teaser">
			{{ page.teaser }}
		</p>
		{% endif %}

		{{ content }}
    </div>
    <div class="medium-4 columns">
		{% include gallery %}
    </div>
</div>